<div class="header-container shadow-sm bg-dark">
    <nav class="navbar navbar-expand-md">
        <div class="container d-flex justify-content-between align-items-center">
            <a class="navbar-brand text-light" href="https://github.com/razat13" target="_blank"><i class="fas fa-user-ninja"></i> &lt;RAZAT/&gt;</a>
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a routerLink="/home" routerLinkActive="text-light" class="nav-link text-secondary">
                        <i class="fas fa-home icon"></i> Home
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/about" routerLinkActive="text-light" class="nav-link text-secondary">
                        <i class="fas fa-user icon"></i> About
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/skills" routerLinkActive="text-light" class="nav-link text-secondary">
                        <i class="fas fa-graduation-cap icon"></i> Education/Work Ex
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/portfolio" routerLinkActive="text-light" class="nav-link text-secondary">
                        <i class="fas fa-folder-open icon"></i> Portfolio
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/contact" routerLinkActive="text-light" class="nav-link text-secondary">
                        <i class="fas fa-envelope icon"></i> Contact
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<router-outlet></router-outlet>
