<footer class="footer bg-dark">
  <div class="container">
    <div class="footer-content">
      <div class="footer-icons">
        <a href="https://www.linkedin.com/in/razat-singh-mahaur-00b875233/" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/razat13" target="_blank">
          <i class="fab fa-github"></i>
        </a>
        <a href="mailto:razatsinghmahaur@gmail.com">
          <i class="fas fa-envelope"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
