<div class="row align-items-center default-container">
    <div class="col-lg-8">
        <div class="content">
            <div class="content-left">
                <h2 class="default-topic">About me</h2>
                <p class="default-p">
                    My name is Razat Singh Mahaur and I enjoy <span class="default-highlight">solving problems and providing more optimised and better solutions</span>.
                </p>
                <img src="../../assets/bc.jpg" alt="r-photo" class="about-picture">
                <p class="default-p">
                    I'm a software engineer, currently working at <span class="default-highlight">Biz2X</span>.
                </p>
                <p class="default-p">
                    I got my interest in software engineering when I started playing video games on my PC, I was very much curious about how things work in the backend.
                    How are the players moving, what actually is the logic behind it.
                </p>
                <p class="default-p">
                    I started working towards my goal of becoming a software engineer, from sleepless nights preparing for JEE to getting into a good engineering college. After getting into college, Data Structures and Algorithms caught my interest,
                    I solved a good number of quality problems on different platforms like CodeChef, Codeforces, LeetCode and GFG. I've worked on tech stacks like MEAN and MERN.
                </p>
                <p class="default-p">
                    But that's on a professional side. On a personal note, other things about me include: I have a passion for <span class="default-highlight">
                        football, cricket, </span><span class="default-highlight">science fiction and suspense movies</span>.
                </p>
            </div>
            <div class="content">
                <div class="content-left">
                    <h2 class="default-topic">Reach out.</h2>
                    <p class="default-p">
                        Follow me on social media, check out my Github account for projects.
                        I would be happy to know how my <span class="default-highlight">problem-solving skills</span>
                        can contribute to<span class="default-highlight"> address the challenges you are facing</span>.
                    </p>
                    <button>
                        <a routerLink="/contact">
                            > Contact me
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
