<div class="row align-items-center default-container">
    <div class="col-lg-5">
        <div class="contact-card">
            <img src="../../assets/bc.jpg" alt="Contact Image" class="contact-image">
            <h2 class="contact-title"><span class="white-highlight">&lt;</span>
                razat singh mahaur
                <span class="white-highlight">
                    /&gt;
                </span>
            </h2>
            <h1 class="default-highlight">SOFTWARE ENGINEER</h1>
            <h1 class="default-highlight">Projects/Contact Profiles</h1>
            <div class="media-content">
                <div class="media-icons">
                   
                    <div class="media-icon">
                        <a href="https://www.linkedin.com/in/razat-singh-mahaur-00b875233/" target="_blank">
                            <i class="fab fa-linkedin"></i>
                          </a>
                    </div>
                    <div class="media-icon">

                        <a href="https://github.com/razat13" target="_blank">
                            <i class="fab fa-github"></i>
                        </a>
                    </div>

                    <div class="media-icon">
                        <a href="mailto:razatsinghmahaur@gmail.com">
                            <i class="fas fa-envelope"></i>
                        </a>
                    </div>
                    

                </div>
            </div>
            <h1 class="default-highlight">Coding Profiles (LeetCode, CodeChef)</h1>
            <div class="media-content">
                <div class="media-icons">
                    <div class="media-icon">
                        <a href="https://leetcode.com/u/RazatM/">
                            <i class="fas fa-code"></i>
                        </a>
                    </div>
                    <div class="media-icon">
                        <a href="https://www.codechef.com/users/noobrz_1">
                            <i class="fas fa-utensils"></i>
                        </a>
                    </div>
                </div>
            </div>
            <p class="contact-paragraph">
                I'm always happy to collaborate on new projects and explore innovative solutions.
                If you're looking for a dedicated software developer to bring your ideas to life,
                let's arrange a call. Let's discuss how <span class="default-highlight">
                we can work together to achieve your goals</span>.
            </p>
            <button>
                <a href="https://www.linkedin.com/in/razat-singh-mahaur-00b875233/" target="_blank">
                > DM me on LinkedIn
                </a>
            </button>
        </div>
    </div>
</div>
