<div class="accordion-left">

  <accordion [isAnimated]="true">

    <accordion-group 
    heading="Languages" 
    [panelClass]="customClass"
    class="accordion-title">
    <div class="accordion-text">
      <p>Fluent <strong><span class="default-highlight">English</span></strong></p>
      <p>Native <strong><span class="default-highlight">Hindi</span></strong></p>
    </div>
    </accordion-group>

    <accordion-group 
    heading="University" 
    panelClass="customClass"
    class="accordion-title">
    <div class="accordion-text">
      <p>2020 - 2024 - Delhi Technological University - <strong><span class="default-highlight">Information Technology</span></strong> - Bachelor's Degree</p>
      <ul>
        <li>
          Final Year Project | Skin Cancer Detection System (CNNs - ResNet,EfficientNet,DenseNet)
        </li>
      </ul>
    </div>    
  </accordion-group>
  <accordion-group 
    heading="Work Experience" 
    panelClass="customClass"
    class="accordion-title">
    <div class="accordion-text">
      <p>Aug 2024 - Present - <span class="default-highlight">Biz2X</span> - <strong><span class="default-highlight">Associate Software Engineer</span></strong></p>
      <ul>
        <li>
          Tech Stack: MongoDB, Express, Angular, NodeJS
        </li>
      </ul>
    </div> 
    <div class="accordion-text">
      <p>Jul 2023 - Aug 2023 - <span class="default-highlight">Brilliant Edge Systems and Technologies</span> - <strong><span class="default-highlight">Software Engineer Trainee</span></strong></p>
      <ul>
        <li>
          Tech Stack: HTML, CSS, Javascript
        </li>
      </ul>
    </div>    
  </accordion-group>
    <accordion-group 
    heading="Techs I use."
    panelClass="customClass"
    class="accordion-title">
      <div class="tech-board">
          <div class="tech-cell">
              <i class="devicon-angular-plain"></i>
          </div>
          <div class="tech-cell">
            <i class="devicon-cplusplus-plain"></i>
        </div>
          <div class="tech-cell">
            <i class="devicon-react-plain-wordmark"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-typescript-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-javascript-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-html5-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-css3-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-bootstrap-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-python-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-vscode-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-postman-plain"></i>
          </div>
          <div class="tech-cell">
            <i class="devicon-nodejs-plain-wordmark"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-git-plain-wordmark"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-github-original"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-jira-plain-wordmark"></i>
          </div>
      </div>
    </accordion-group>
  
  </accordion>
  
</div>