<div class="row align-items-center default-container">
    <div class="col-lg-8">
      <div class="text-left">
        <h1 class="home-title">Innovating Solutions, Engineering the Future</h1>
        <h2 class="home-author">Razat Singh Mahaur <span id="dynamic-text">{{ dynamicText }}</span></h2>
        <blockquote>
          Aspiring software engineer with a passion for learning and building impactful solutions. Currently honing my skills as an Associate Software Engineer, eager to contribute and grow in the dynamic world of technology. 
        </blockquote>
        <button>
            <a routerLink="/portfolio">
                > Check Portfolio
            </a>
        </button>
      </div>
    </div>
  </div>
  